In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.float_format', '{:.2f}'.format)

def secciones (n):
    if n < 10:
        x = '0'+str(n)
    else:
        x =str(n)
    return 'S'+x

def apli_presup(apli):
    aplicacion1 =apli.split('-')
    descripcion = aplicacion1[1]
    aplicacion2 =aplicacion1[0]
    aplicacion = aplicacion2.split()
    programa =aplicacion[1]
    concepto =aplicacion[2]
    
    return programa, concepto, descripcion

In [2]:
# letcura del fichero excel mensual
meses =['ENERO','FEBRERO','MARZO','ABRIL','MAYO','JUNIO','JULIO','AGOSTO','SEPTIEMBRE','OCTUBRE']

df_final = pd.DataFrame()
for m in meses:
    xls = pd.ExcelFile(rf'C:\Users\ragod\OneDrive\Escritorio\Proyectos_TB\Proyectos_TB\visualizacion\Presup\datos\MENSUAL {m} 2021 ANEXO I.XLSX')
    hojas = xls.sheet_names
    for s in hojas:
        if s != 'S5  21':
            df1 = pd.read_excel(xls, s)
            df1['Mes']= m
            df1['Seccion']= s
            df_final=pd.concat([df_final,df1],axis = 0)
            
            
df_final = df_final.reset_index(drop=True)
df_final.columns=['Organismo','Aplicacion','Credito_Inicial','Credito_Final','Obligaciones','Mes','Seccion']

In [3]:
df_final

,Organismo,Aplicacion,Credito_Inicial,Credito_Final,Obligaciones,Mes,Seccion
0,CASA DE SU MAJESTAD EL REY\nESTADO DE EJECUCIÓ...,APLICACIÓN PGE,CRÉDITOS INICIALES\n(1),CRÉDITOS DEFINITIVOS\n(2),OBLIGACIONES RECONOCIDAS NETAS\n(3),ENERO,S01
1,CASA DE SU MAJESTAD EL REY,911M-Jefatura del Estado,8431150,8431150,2100000,ENERO,S01
2,CASA DE SU MAJESTAD EL REY,0101 911M 480 -A S.M. el Rey. Para el so...,8431150,8431150,2100000,ENERO,S01
3,CASA DE SU MAJESTAD EL REY,NaN,NaN,NaN,NaN,ENERO,S01
4,CASA DE SU MAJESTAD EL REY,TOTAL SERVICIO,8431150,8431150,2100000,ENERO,S01
...,...,...,...,...,...,...,...
107185,S. G. DE FINANCIACIÓN AUTONÓMICA Y LOCAL. ENTI...,942N-Otras transferencias a Entidades Locales,190411290,206628404.23,193627261.59,OCTUBRE,S38
107186,S. G. DE FINANCIACIÓN AUTONÓMICA Y LOCAL. ENTI...,3821 942N 464 -Compensación financiera a...,112626860,128843974.23,128843974.23,OCTUBRE,S38
107187,S. G. DE FINANCIACIÓN AUTONÓMICA Y LOCAL. ENTI...,3821 942N 466 -Compensación de los benef...,77784430,77784430,64783287.36,OCTUBRE,S38
107188,S. G. DE FINANCIACIÓN AUTONÓMICA Y LOCAL. ENTI...,NaN,NaN,NaN,NaN,OCTUBRE,S38
107189,S. G. DE FINANCIACIÓN AUTONÓMICA Y LOCAL. ENTI...,TOTAL SERVICIO,18063147180,18090252808.09,15170996932.19,OCTUBRE,S38

In [4]:
#limpieza
borrar = df_final[df_final['Aplicacion']=='TOTAL SERVICIO'].index

# Delete these row indexes from dataFrame
df_final.drop(borrar , inplace=True)

borrar = df_final[df_final['Aplicacion']=='APLICACIÓN PGE'].index
df_final.drop(borrar , inplace=True)

borrar = df_final[df_final['Aplicacion'].isnull()].index
df_final.drop(borrar , inplace=True)

borrar = df_final[df_final['Aplicacion'].str.contains(' -')== False].index
df_final.drop(borrar , inplace=True)

In [5]:
df_final = df_final.reset_index(drop=True)

In [6]:
df_final["Credito_Inicial"].fillna(0, inplace = True) 
df_final["Credito_Final"].fillna(0, inplace = True) 
df_final["Obligaciones"].fillna(0, inplace = True)
df_final["Credito_Inicial"].replace('-',0, inplace = True) 
df_final["Credito_Final"].replace('-',0, inplace = True) 
df_final["Obligaciones"].replace('-',0, inplace = True)

In [7]:
df_final[['Credito_Inicial','Credito_Final','Obligaciones']] = df_final[["Credito_Inicial",'Credito_Final','Obligaciones']].astype(float)
df_final

,Organismo,Aplicacion,Credito_Inicial,Credito_Final,Obligaciones,Mes,Seccion
0,CASA DE SU MAJESTAD EL REY,0101 911M 480 -A S.M. el Rey. Para el so...,8431150.00,8431150.00,2100000.00,ENERO,S01
1,CORTES GENERALES,0201 911N 125 -Retribuciones básicas y c...,44518150.00,44518150.00,11129537.50,ENERO,S02
2,CORTES GENERALES,0201 911N 150 -Productividad,60000.00,60000.00,15000.00,ENERO,S02
3,CORTES GENERALES,"0201 911N 165 -Cuotas, prestaciones y ga...",12571550.00,12571550.00,3142887.50,ENERO,S02
4,CORTES GENERALES,0201 911N 207 -Alquileres,950.00,950.00,237.50,ENERO,S02
...,...,...,...,...,...,...,...
95625,S. G. DE FINANCIACIÓN AUTONÓMICA Y LOCAL. ENTI...,3821 942M 46002 -Entregas a cuenta a favor...,6784628850.00,6784628850.00,5653857375.00,OCTUBRE,S38
95626,S. G. DE FINANCIACIÓN AUTONÓMICA Y LOCAL. ENTI...,3821 942M 46101 -Entregas a cuenta a las D...,5672940790.00,5672940790.00,4727450652.60,OCTUBRE,S38
95627,S. G. DE FINANCIACIÓN AUTONÓMICA Y LOCAL. ENTI...,3821 942M 468 -Liquidación definitiva de...,444934230.00,455822743.86,454201629.30,OCTUBRE,S38
95628,S. G. DE FINANCIACIÓN AUTONÓMICA Y LOCAL. ENTI...,3821 942N 464 -Compensación financiera a...,112626860.00,128843974.23,128843974.23,OCTUBRE,S38
95629,S. G. DE FINANCIACIÓN AUTONÓMICA Y LOCAL. ENTI...,3821 942N 466 -Compensación de los benef...,77784430.00,77784430.00,64783287.36,OCTUBRE,S38

In [12]:
df_final.to_csv('df_final.csv', index = False)

In [9]:
def apli_presup(apli):
    aplicacion1 =apli.split('-')
    descripcion = aplicacion1[1]
    aplicacion2 =aplicacion1[0]
    aplicacion = aplicacion2.split()
    programa =aplicacion[1]
    concepto =aplicacion[2]
    
    return programa, concepto, descripcion

In [10]:
df_final[(df_final['Mes']=='OCTUBRE')].sum()

Organismo          CASA DE SU MAJESTAD EL REYCORTES GENERALESCORT...
Aplicacion         0101  911M   480    -A S.M. el Rey. Para el so...
Credito_Inicial                                      383542623240.00
Credito_Final                                        378818068927.09
Obligaciones                                         272225591950.04
Mes                OCTUBREOCTUBREOCTUBREOCTUBREOCTUBREOCTUBREOCTU...
Seccion            S01S02S02S02S02S02S02S02S02S02S02S02S02S02S02S...
dtype: object