In [1]:
import pandas as pd
import numpy as np

C:\Users\ragod\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\ragod\anaconda3\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\ragod\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
#Importacion de datos
df_lici1 = pd.read_excel(r'C:\Users\ragod\Desktop\Contratos2\2021.xlsx', sheet_name='Licitaciones')
df_result1 = pd.read_excel(r'C:\Users\ragod\Desktop\Contratos2\2021.xlsx', sheet_name='Resultados')

In [3]:
df_lici1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145470 entries, 0 to 145469
Data columns (total 12 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Identificador                145470 non-null  int64
 1   Link licitación              145470 non-null  object
 2   Fecha actualización          145470 non-null  datetime64[ns]
 3   Vigente/Anulada/Archivada    145470 non-null  object
 4   Valor estimado del contrato  144780 non-null  float64
 5   CPV                          144131 non-null  object
 6   Tipo de contrato             145470 non-null  object
 7   Órgano de Contratación       145470 non-null  object
 8   Tipo de Administración       145470 non-null  object
 9   Tipo de procedimiento        145470 non-null  object
 10  Sistema de contratación      141855 non-null  object
 11  Subcontratación permitida    20249 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(9)
memory usage: 13.3+ MB

In [4]:
df_result1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180656 entries, 0 to 180655
Data columns (total 9 columns):
 #   Column                                                                  Non-Null Count   Dtype
---  ------                                                                  --------------   -----
 0   Identificador                                                           180656 non-null  int64
 1   Link licitación                                                         180656 non-null  object
 2   Fecha actualización                                                     180656 non-null  datetime64[ns]
 3   Resultado licitación/lote                                               180656 non-null  object
 4   Precio de la oferta más baja por licitación/lote                        91409 non-null   float64
 5   Precio de la oferta más alta por licitación/lote                        93922 non-null   float64
 6   Se han excluído ofertas por ser anormalmente bajas por licitación/lote  21950 non-null   float64
 7   Importe adjudicación sin impuestos licitación/lote                      163306 non-null  float64
 8   Importe adjudicación con impuestos licitación/lote                      163306 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(1), object(2)
memory usage: 12.4+ MB

In [5]:
#Renombre de columnas
nuevas_col_lici =['identificador','link','fecha',
       'vigencia',
       'precio_lici',
       'cpv',
       'tipo_cont',
       'org_cont',
       'tipo_admi',
        'tipo_pro',
        'sist_cont',
        'subcontratacion']
nuevas_col_result =['identificador', 'link','fecha','resultado',
       'precio_min',
       'precio_max',
       'baja_tem',
       'precio_adj_sin_imp',
       'precio_adj_con_imp']

In [6]:
df_lici1=df_lici1.rename(columns={k:v for k,v in zip(df_lici1.columns, nuevas_col_lici)})
df_result1=df_result1.rename(columns={k:v for k,v in zip(df_result1.columns, nuevas_col_result)})

In [7]:
#Eliminacion columnas por no estar en el estudio
df_lici1.drop(['link','fecha','vigencia','org_cont','tipo_admi','subcontratacion'],axis = 1,inplace = True)
df_result1.drop(['link','fecha'],axis = 1,inplace = True)

Estudio de varibles de df_lici1
    identificador debe ser cadena ya que es una clave
    precio_lici contiene nulos.- 
    cpv contiene varios valores.- se reduce a 1

Estudio de variables de df_result1
    identificador debe ser cadena ya que es una clave
    figuran valores por lotes.- reducir a un valor solo por identificador sumando campos precio
    campos precio con vlaor nulo, transformar inicialmente con 0. Con posteriordad, al agrupar se suman. En     el caso de unico valor rellenar min y max con el de ajudicacion.
    campo baja_temp debe tomar valores 0/1. rellenar los nulos con 0.

Solo se seleccionan los adjudicados de result1, el resto se eliman, asi como los de lici1 de igual identificador

In [133]:
# Modificaciones de df_lici_1
df_lici2 = df_lici1
df_lici2.identificador = df_lici2.identificador.astype('string')

In [134]:
#Modifciaciones de df_resutl1
df_result2 = df_result1
df_result2.identificador = df_result2.identificador.astype('string')
df_result2 = df_result2.fillna(0)

In [135]:
df_lici2.head()

,identificador,precio_lici,cpv,tipo_cont,tipo_pro,sist_cont
0,8994792,110160.00,71000000;71240000;71242000;71247000;,Servicios,Negociado con publicidad,No aplica
1,8689190,40033.24,92000000;,Servicios,Abierto simplificado,No aplica
2,8994793,111779.93,45233252;45233220;,Obras,Abierto simplificado,No aplica
3,8723412,26582.40,48920000;,Suministros,Abierto simplificado,No aplica
4,8994794,1800.00,55330000;,Patrimonial,Abierto,No aplica

In [137]:
df_result2.head()

,identificador,resultado,precio_min,precio_max,baja_tem,precio_adj_sin_imp,precio_adj_con_imp
0,8689190,Adjudicado,19816.45,20000.00,0.0,20000.00,24200.00
1,8723412,Adjudicado,17656.32,18655.68,0.0,17656.32,21364.15
2,8303894,Adjudicado,49852.00,49852.00,0.0,41200.00,49852.00
3,8005484,Adjudicado,0.00,0.00,0.0,8857959.09,10718130.50
4,8005484,Adjudicado,0.00,0.00,0.0,8776679.14,10619781.76

In [138]:
# Seleccion solo de los adjudicados.
#Aquellos que tienen un lote no adjudicado se eliminan todos por no tener detalle de licitacion
#identificacion no adjudicados en resultados
lista_no_adjudica = df_result2.identificador[df_result2.resultado != 'Adjudicado']
lista_no_adjudica_result_index = df_result2[df_result2.identificador.isin(lista_no_adjudica)].index

#deteccion de no adjuidcados en liccitaciones
lista_no_adjudicados=list(lista_no_adjudica.unique())
lista_no_adjudica_lici_index = df_lici2[df_lici2.identificador.isin(lista_no_adjudicados)].index

#Deteccion de adjudicados
licitaciones_adjudicadas_index=[i for i in df_lici2.index if i not in lista_no_adjudica_lici_index]
resultados_adjudicados_index=[i for i in df_result2.index if i not in lista_no_adjudica_result_index]

In [139]:
# Eliminacion de no ejecutados
df_lici3 = df_lici2.iloc[licitaciones_adjudicadas_index]
df_result3   = df_result2.iloc[resultados_adjudicados_index]

In [140]:
# Agrupacion de resultados por identificador

df_result4 = df_result3.groupby('identificador',as_index = False).sum()

In [141]:
#Asignacion de valors max y min cuando son 0.
df_result4.loc[(df_result4.precio_min==0)&(df_result4.precio_max==0),['precio_min','precio_max']]=df_result4['precio_adj_sin_imp']

In [143]:
df_result4

,identificador,precio_min,precio_max,baja_tem,precio_adj_sin_imp,precio_adj_con_imp
0,1001606,627201.77,627201.77,0.0,627201.77,758914.14
1,1002267,111500.00,111500.00,0.0,111500.00,111500.00
2,1007145,2472399.73,2472399.73,0.0,2472399.73,2933884.48
3,1007418,1507220.00,1507220.00,0.0,1507220.00,1823736.20
4,1007814,116482.24,149691.36,0.0,116482.24,124636.00
...,...,...,...,...,...,...
108450,985194,15205406.79,15205406.79,0.0,15205406.79,18398542.22
108451,991030,935574.20,935574.20,0.0,935574.20,1001064.39
108452,995462,0.00,0.00,0.0,0.00,0.00
108453,996489,262800.00,262800.00,0.0,262800.00,317988.00
108454,996620,193528.63,193528.63,0.0,193528.63,207075.63

In [144]:
identificador_result = list(df_result4.identificador)

In [145]:
df_lici3[df_lici3['identificador'].isin ( df_result4.identificador)]

,identificador,precio_lici,cpv,tipo_cont,tipo_pro,sist_cont
1,8689190,40033.24,92000000;,Servicios,Abierto simplificado,No aplica
3,8723412,26582.40,48920000;,Suministros,Abierto simplificado,No aplica
6,8303894,42468.48,45320000;45421160;,Obras,Abierto simplificado,No aplica
10,8995051,385000.00,63710000;,Servicios,Derivado de acuerdo marco,Contrato basado en un Acuerdo Marco
11,8049101,4950475.00,71356000;34600000;,Suministros,Abierto,No aplica
...,...,...,...,...,...,...
145463,6427429,229800.00,72000000;,Servicios,Negociado sin publicidad,No aplica
145464,6677573,32000.00,66511000;66500000;,Servicios,Abierto simplificado,No aplica
145466,6839766,1615.00,90920000;,Servicios,Negociado sin publicidad,No aplica
145467,6839767,512604.00,72260000;,Servicios,Normas internas,No aplica
145468,6839768,823640.00,72267000;,Servicios,Normas internas,No aplica

In [221]:


df_final=df_lici3.join(df_result4.set_index('identificador'), on ='identificador', how = 'right')

In [227]:
# elimino licitaciones sin precio
df_final2=df_final[df_final.precio_lici.isnull()== False]

#elimino licitaciones menores que el adjudicado

df_final2 = df_final2[(df_final2.precio_lici < df_final2.precio_adj_sin_imp) == False]

#elimino licitaciones con importe 0

df_final2 = df_final2[df_final2.precio_lici != 0 ]

# elimino las licitaciones con cpv nulo

df_final2=df_final2[df_final2.cpv.isnull()== False]

In [228]:
df_final2

,identificador,precio_lici,cpv,tipo_cont,tipo_pro,sist_cont,precio_min,precio_max,baja_tem,precio_adj_sin_imp,precio_adj_con_imp
55688,1001606,910892.00,34933000;,Suministros,Negociado con publicidad,NaN,627201.77,627201.77,0.0,627201.77,758914.14
143092,1002267,240000.00,98351000;,Gestión de Servicios Públicos,Abierto,NaN,111500.00,111500.00,0.0,111500.00,111500.00
30801,1007145,2472400.00,32524000;,Suministros,Negociado con publicidad,NaN,2472399.73,2472399.73,0.0,2472399.73,2933884.48
138296,1007418,3720000.00,90910000;,Servicios,Abierto,NaN,1507220.00,1507220.00,0.0,1507220.00,1823736.20
56408,1007814,261584.00,98341130;,Servicios,Normas internas,No aplica,116482.24,149691.36,0.0,116482.24,124636.00
...,...,...,...,...,...,...,...,...,...,...,...
57134,984860,11061404.96,45252130;90481000;45259100;,Gestión de Servicios Públicos,Abierto,NaN,3390923.01,3390923.01,0.0,3390923.01,3765087.82
83444,985152,1322880.00,60160000;,Servicios,Negociado con publicidad,NaN,204744.80,204744.80,0.0,204744.80,247741.21
129906,985194,27239507.00,45234110;,Obras,Abierto,NaN,15205406.79,15205406.79,0.0,15205406.79,18398542.22
114220,991030,1383385.39,45331000;,Obras,Negociado con publicidad,No aplica,935574.20,935574.20,0.0,935574.20,1001064.39
101326,996489,554040.00,50413200;,Servicios,Abierto,NaN,262800.00,262800.00,0.0,262800.00,317988.00

In [229]:
df_final2['porcen_adjudic'] = df_final2['precio_adj_sin_imp']/df_final2['precio_lici']

In [230]:
df_final2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102964 entries, 55688 to 101326
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   identificador       102964 non-null  string
 1   precio_lici         102964 non-null  float64
 2   cpv                 102964 non-null  object
 3   tipo_cont           102964 non-null  object
 4   tipo_pro            102964 non-null  object
 5   sist_cont           100194 non-null  object
 6   precio_min          102964 non-null  float64
 7   precio_max          102964 non-null  float64
 8   baja_tem            102964 non-null  float64
 9   precio_adj_sin_imp  102964 non-null  float64
 10  precio_adj_con_imp  102964 non-null  float64
 11  porcen_adjudic      102964 non-null  float64
dtypes: float64(7), object(4), string(1)
memory usage: 10.2+ MB